#This file lists the files or directories that are specifically included in the backing up
#Note that include is higher priority than exclude
#This will execute at the root level of the drive "/", so do not include a leading "/"
#To get an entire directory, include "/*" at the end.  Example: etc/openhab/*

#Information specific to this process
etc/P5Software/Linux-Tools/s3cmd/backup.sh
etc/P5Software/Linux-Tools/s3cmd/retrieve.sh
etc/P5Software/Linux-Tools/s3cmd/s3cmd.exclude
etc/P5Software/Linux-Tools/s3cmd/s3cmd.include
etc/P5Software/Linux-Tools/s3cmd/s3cmd.conf

#Required for databases
#etc/P5Software/Linux-Tools/mongodb/*

#Applications and settings to backup
#path/to/file/*